@{
    ViewBag.Title = "Wiki";
}
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="signin.css" rel="stylesheet">
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>


<div style="margin-left:50px">
    <h1>Wiki</h1>

    <h2>Bandtec - Devops</h2>
    <h3>Cadastro de Alunos</h3>

    <div class="row">
        <div class="col-sm-6 col-md-10">
            <div class="thumbnail">
                <div class="caption">
                    <h3><span class="glyphicon glyphicon-globe text-info" aria-hidden="true"></span>Sobre a aplicação</h3>
                    <p>
                        Cadastro de Alunos é uma aplicação Web onde você pode cadastrar alunos, editar informações dos alunos, excluir e visualizar detalhes dos alunos cadastrados.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-10">
            <div class="thumbnail">
                <div class="caption">
                    <h3><span class="glyphicon glyphicon-wrench text-warning" aria-hidden="true"></span>Ferramentas utilizadas</h3>
                    <p>
                        Cadastro de Alunos foi feito utilizando o Visual Studio 2013,
                        arquitetura MVC com HTML 5 e Bootstrap, para a manipulação de dados foi usado o SQL Server 2012.
                        Para controle de versão foi utilizado o repósitorio GitHub.
                    </p>
                    <div>
                        <img src="~/img/bootstrap.png" />
                        <img src="~/img/mvc.jpg" />
                        <img src="~/img/sql.png" />
                        <img src="~/img/Team.png" />
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-10">
            <div class="thumbnail">
                <div class="caption">
                    <h3><span class="glyphicon glyphicon-th text-danger" aria-hidden="true"></span>Arquitetura da Aplicação</h3>
                    <div style="margin-top: 15px; margin-left: 40px;text-align:center">
                        <img src="~/img/imagem.png" />
                    </div>
                    <p>
                        A equipe de desenvolvimento, desenvolveu uma aplicação web com MVC(Model, View e Control).
                    <p></p>
                    O repositório está no GitHub:
                    <div style="text-align:center">
                        <img src="~/img/github.png" />
                    </div>

                    Através do Visual Studio, conectado ao Git Hub, realizamos a atualização do código no repositório. (Comandos Commit e Sync).
                    <div style="text-align:center">
                        <img src="~/img/commit.png" />
                    </div>
                    <p>
                        <div style="text-align:center">
                            <img src="~/img/Sync.png" />
                        </div>

                        A publicação do site ocorre pelo também pelo Visual Studio. No nosso caso, você poderá escolher entre o ambiente de teste ou ambiente de publicação.
                        <div style="text-align:center">
                            <img src="~/img/Publish.png" />
                        </div>
                    <p>
                        Após a publicação, o Visual Studio se encarrega de publicar e salvar os arquivos dentro da pasta indicada na tela anterior.
                        <div style="text-align:center">
                            <img src="~/img/PublicadoServidor.png" />
                        </div>
                    <p>

                        Finalmente, você pode observar a aplicação rodando com as atualizações realizadas.
                        <div style="text-align:center">
                            <img src="~/img/Aplicacao.png" />
                        </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-10">
            <div class="thumbnail">
                <div class="caption">
                    <h3><span class="glyphicon glyphicon-star-empty text-primary" aria-hidden="true"></span>   Script do banco de dados</h3>
                    <p>
                        Para criação do banco de dados foi usado o script abaixo:
                        <br />
                        <br />
                        <div style="text-align:center">
                            <img src="~/img/script.png" />
                        </div>
                       

                    </p>
                </div>
            </div>
        </div>


    </div>


</div>
